.homepageparent {
    display: grid;
    place-items: center;
    background-color: #ffffff;
    height: 100vh;
    padding-top: 20px;
}

.homepagechild {
    display: grid;
    place-items: center;
}

.welcomeText {
    font-size: 30px;
    font-weight: bold;
}

.descriptionText {
    font-size: 15px;
    margin-top: 15px;
    color: gray;
}

.homelabelField {
    font-size: 15px;
}

.homeinputField {
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: gainsboro;
    border-width: 0.5px;
    height: 25px;
}


label {
    font-family: 'Inter';
}

.hintText {
    color: gray;
}

.homebutton {
    background-color: blueviolet;
    margin-top: 15px;
    color: #ffffff;
    border-radius: 5px;
    border-color: blueviolet;
    width: 23.5vw;
    height: 30px;
}

.home {
    margin-bottom: 20px;
}


.homeinputComponent {
    display: flex;
    flex-direction: column;
    width: 23.5vw;
    align-items: left;
}

