.typesparent {
    display: grid;
    place-items: center;
    background-color: #ffffff;
    height: 100vh;
    width: auto;
    padding-top: 20px;
}

.typeschild {
    display: grid;
    place-items: center;
}

.welcomeText {
    font-size: 30px;
    font-weight: bold;
}

.descriptionText {
    font-size: 15px;
    margin-top: 15px;
    color: gray;
}

.labelField {
    font-size: 15px;
    text-align: left;
    padding-left: 28px;
}

.inputField {
    justify-self: center;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: gainsboro;
    border-width: 0.5px;
}


label {
    font-family: 'Inter';
}

.hintText {
    color: gray;
}

.typesbutton {
    background-color: blueviolet;
    margin-top: 15px;
    color: #ffffff;
    border-radius: 5px;
    border-color: blueviolet;
    width: 23.5vw;
    height: 30px;
}

.categories {
    display: flex;
    flex-direction: column;
    width: 23.5vw;
    place-items: center;
}

.title {
    font-size: 15px;
    font-weight: bold;
}

.tiles {
    text-align: left;
    padding: 5px;
    border-color: blueviolet;
    border-style: solid;
}

.icon {
    height: 30px;
    width: 30px;
}

.types {
    margin-bottom: 20px;
}

.tilesOuter{
    margin-top: 20px;
    display: inline-flex;
    align-items: left;
    justify-content: space-between;
}